body{
    background: grey;
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 2%;
}

.post {
	background: white;
	width: 55rem;
	margin: auto;
}
img {
	object-fit: cover;
	width: 55rem;
}
